.gov-link-box {
    text-decoration: underline;
    line-height: 20px;
    background: #eee;
    padding: 40px;
    border-bottom: 4px solid #009900;
    display: block;
    float: left;
    width: 250px;
    margin-right: 80px;
}